body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
    margin: 0px;
    background-color: bisque;
}

.bg-images {
    background-image: url("/images/donation13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .5);
    /* margin: 10px; */
    height: 600px;
    width: 1700px;
    /* height: 120%;
    width: 100%; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.img-text {
    height: 400px;
    width: 500px;
    font-size: 1.2rem;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgba(137, 137, 160, 0.822), rgba(236, 44, 76, 0.911));
    padding: 10px 25px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}

.donation {
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 5px;

}

.donation-amount {
    background-color: aliceblue;
    font-size: 1.3rem;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1700px;

}

.amount {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    margin: 50px 50px;
}

.fixed-ammount {
    box-shadow: 20px 20px 50px 10px rgb(248, 244, 245) inset;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid grey;
    border-radius: 2px;
}

.input-field {
    background-color: rgb(241, 237, 237);
    border: 2px solid grey;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.donate-btn {
    border: 2px solid grey;
    border-radius: 2px;
    padding: 15px 40px 15px 40px;
    text-align: center;
    background-color: rgba(231, 146, 154, 0.76);
}

.straight-line {
    border-top: 1px solid rgb(221, 181, 219);
    margin: 20px 400px 20px 400px;
}

.donate-title {
    /* margin-top: auto; */
    text-align: center;
    background-color: rgb(252, 250, 251);
    font-size: 1.3rem;
    margin-top: 5px;
}

.donate-heading {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 0px;
    margin: 0px 500px 0px 500px;
    padding-top: 10px;
}

.donate-group {
    display: flex;
    margin: 200px 150px 0px 150px;


}

.donate-package {
    align-items: center;
    text-align: left;
    box-shadow: 20px 20px 50px 10px rgb(238, 234, 234) inset;
    border: 3px solid rgb(235, 221, 182);
    padding: 30px 10px 5px 10px;
    margin-bottom: 10px;
}

#testimonials {
    /* margin-top: 40px; */
    background-color: rgb(233, 222, 214);
}

.donor-title {
    display: flex;
    padding: 10px;
    box-shadow: 20px 20px 50px 10px rgb(248, 244, 245) inset;
}

.donor-div {
    display: flex;

}

.donor-details {
    padding: 10px;
}