body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
    margin: 5px;
}

.bg-images {
    background-image: url("/images/donation13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .5);
    margin: 50px;
    height: 600px;
    width: 1600px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-text {
    height: 400px;
    width: 500px;
    font-size: 1.2rem;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgba(54, 54, 219, 0.822), rgba(236, 44, 76, 0.911));
    padding: 10px 25px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}